# Database (PostgreSQL)
DB_HOST=postgres
DB_PORT=5432
DB_NAME=connectdot
DB_USER=postgres
DB_PASS=password

# Backend
PORT=5000

# MinIO
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=connectdot
